# OCO2 - Count Cities and Plants inside a capture zone around the peak
Project for **Data For Good**, season 7. 

---

## Introduction

In [119]:
import pandas as pd
import geopandas as gpd
import numpy as np
from numpy import exp, loadtxt, pi, sqrt
import math
import matplotlib
import matplotlib.pyplot as plt
import swiftclient
import json
from io import StringIO
import folium
from folium import plugins
import geopy
from shapely.geometry import Polygon
from geopy.distance import VincentyDistance

config_path = "../configs/config.json"

We establish the connexion with the swift server to pull and push ressources.

In [120]:
with open(config_path) as json_data_file:
    config = json.load(json_data_file)
    
def swift_con(config):
    user=config['swift_storage']['user']
    key=config['swift_storage']['key']
    auth_url=config['swift_storage']['auth_url']
    tenant_name=config['swift_storage']['tenant_name']
    auth_version=config['swift_storage']['auth_version']
    options = config['swift_storage']['options']
    return swiftclient.Connection(user=user,
                                  key=key,
                                  authurl=auth_url,
                                  os_options=options,
                                  tenant_name=tenant_name,
                                  auth_version=auth_version)

conn = swift_con(config)

## Retrieve Data

### Gaussian Peak Detection

The CSV contains the resulting detected peaks of the Gaussian method implemented in FC's paper, reproduced by Benoit. The CSV is stored on the Swift server.

We retrieve here the August 2018 data as an exemple.

In [121]:
from datetime import datetime
def to_date(a):
    return datetime.strptime(str(a), '%Y%m%d%H%M%S%f')

csv = conn.get_object("oco2", "/datasets/oco-2/peaks-detected/result_for_oco2_1808.csv")[1]
peak_fc = pd.read_csv(StringIO(str(csv, 'utf-8')), sep=";")
peak_fc['date'] = peak_fc['sounding_id'].apply(to_date)
peak_fc['sigma'] = peak_fc['sigma'].apply(abs)
peak_fc['amplitude'] = peak_fc['amplitude'].apply(abs)

peak_fc = gpd.GeoDataFrame(peak_fc, geometry=gpd.points_from_xy(peak_fc.longitude, peak_fc.latitude)).copy()
peak_fc.crs = {'init': 'epsg:4326'}

peak_fc.head()

,sounding_id,latitude,longitude,orbit,slope,intercept,amplitude,sigma,delta,R,windspeed_u,windspeed_v,surface_pressure,tcwv,gCO2_per_s,ktCO2_per_h,date,geometry
0,2018080101035604,25.425072,-177.345490,21709,0.000430,404.902899,14.694226,3.987167,1.470254,0.677812,-7.759225,-0.739198,1018.198181,41.952118,1.775510e+06,6.391835,2018-08-01 01:03:56.040,POINT (-177.34549 25.42507)
1,2018080101060803,32.777554,-179.428162,21709,0.002886,404.622407,1.493849,7.887665,0.075556,0.532213,-5.420354,-0.992332,1025.610962,32.914429,1.296037e+05,0.466573,2018-08-01 01:06:08.030,POINT (-179.42816 32.77755)
2,2018080101062937,33.919857,-179.779083,21709,-0.006755,404.416030,11.847855,3.346435,1.412432,0.592854,-4.035365,-0.879741,1026.469604,32.334263,3.285550e+04,0.118280,2018-08-01 01:06:29.370,POINT (-179.77908 33.91986)
3,2018080102530302,58.858116,143.781662,21710,0.003719,399.445056,0.018193,5.552475,0.001307,0.730703,-3.837832,0.812698,995.894531,23.648272,7.214001e+02,0.002597,2018-08-01 02:53:03.020,POINT (143.78166 58.85812)
4,2018080104244674,35.680077,130.219467,21711,-0.004196,405.367275,9.859749,24.716153,0.159146,0.577045,-2.515345,-1.818006,1005.533569,43.828854,4.515588e+05,1.625612,2018-08-01 04:24:46.740,POINT (130.21947 35.68008)

### Inventory Data

The CSV is stored on the GitHub.

In [122]:
path_invent = "https://raw.githubusercontent.com/dataforgoodfr/batch7_satellite_ges/master/dataset/Output%20inventory%20data/Merge%20of%20peaks/CO2_emissions_peaks_merged_2018.csv"
invent = pd.read_csv(path_invent, sep=",", index_col=0)

invent = gpd.GeoDataFrame(invent, geometry=gpd.points_from_xy(invent.longitude, invent.latitude))
invent.crs = {'init': 'epsg:4326'}

invent = invent[invent['longitude'].notna()]
invent = invent[invent['latitude'].notna()]
invent = invent[invent['CO2/CO2e emissions (in tonnes per year)'].notna()]

invent_types = invent['CO2/CO2e emissions source'].unique()
print("Types of inventory: ")
print(invent_types)

invent.head()

Types of inventory:
['City' 'Gas power plant' 'Oil power plant' 'Coal power plant'
 'Cement and Lime' 'Glass' 'Power and heat' 'Ceramics' 'Pulp and paper'
 'Chemicals' 'Iron and steel' 'Combustion' 'Non ferrous metals'
 'Mineral oil' 'Coke ovens']

,latitude,longitude,Data source,CO2/CO2e emissions source,CO2/CO2e emissions (in tonnes per year),CO2 or CO2e,geometry
0,43.653226,-79.383184,Opendatasoft,City,16151019.00,CO2,POINT (-79.38318 43.65323)
4,45.802578,9.086356,Opendatasoft,City,3728678.00,CO2,POINT (9.08636 45.80258)
5,37.668900,-122.080800,Opendatasoft,City,861854.00,CO2e,POINT (-122.08080 37.66890)
6,35.689634,139.692101,Opendatasoft,City,27611000.00,CO2e,POINT (139.69210 35.68963)
11,-10.249091,-48.324286,Opendatasoft,City,589055.31,CO2e,POINT (-48.32429 -10.24909)

## Inventory Capture

In [125]:
def get_direction_from_uv(u, v):
    ''' Retrieve the heading of a vector'''
    direction = 180/math.pi * math.atan2(u,v)+180
    return direction

def get_wind_norm_from_uv(u, v):
    ''' Retrieve the magitude of a vector'''
    return math.sqrt(pow(u,2)+pow(v,2))

def get_new_coord(lat, lon, d, b):
    ''' Calculate the arrival point of a vector, given a starting point, a distance and a direcion'''
    origin = geopy.Point(lat, lon)
    point = VincentyDistance(kilometers=d).destination(origin, b)
    return [point[1], point[0]]

def capture_zone(lat, lon, u, v, angle=50):
    ''' Calculates the capture zone around a point, given the point, a wind vector and a angme to shape the zone'''
    wind_heading = get_direction_from_uv(u, v)
    wind_norm = np.log(get_wind_norm_from_uv(u,v)*3.6 +1)

    # BACK LINE
    # 1st point (back - 6h wind)
    point_1 = get_new_coord(lat, lon, wind_norm*6, wind_heading+180)
    # 2nd point (back - 6h wind - 50°)
    point_2 = get_new_coord(lat, lon, wind_norm*6, wind_heading+180-angle)
    # 3rd point (back - 6h wind - 50°)
    point_3 = get_new_coord(lat, lon, wind_norm*6, wind_heading+180+angle)

    # FRONT LINE
    # 4th point (front - 24h wind - 20°)
    point_4 = get_new_coord(lat, lon, wind_norm*24, wind_heading+angle)
    # 5th point (front - 24h wind - 20°)
    point_5 = get_new_coord(lat, lon, wind_norm*24, wind_heading-angle)
    # 6th point (front - 24h wind)
    point_6 = get_new_coord(lat, lon, wind_norm*24, wind_heading)

    points = [point_1, point_2, point_4, point_6, point_5, point_3, point_1]
    return points

def capture_df(row):
    ''' Apply the capture zone function to a dataset row'''
    return Polygon(capture_zone(row["latitude"], row["longitude"], row['windspeed_u'], row['windspeed_v']))

def join_and_count_one(peaks, invent, title):
    ''' Spacially join 3 datasets (Polygon, Point and Point)'''
    #intersect cities
    peaks_intersect_invent  = gpd.sjoin(peaks, invent.loc[:, ['CO2/CO2e emissions (in tonnes per year)','geometry']], how='left', op='intersects').rename(columns={"index_right": "index_"+str(title)})
    peaks_intersect_ag = peaks_intersect_invent.groupby([peaks_intersect_invent.index, 'sounding_id'])["index_"+str(title)].apply(list).reset_index()
    peaks_intersect_ag["number_"+str(title)] = peaks_intersect_ag["index_"+str(title)].apply(lambda x: np.count_nonzero(~np.isnan(x)))
    peaks_meters_invent = peaks.merge(peaks_intersect_ag, how='left', on='sounding_id')
    
    peaks_meters_invent = peaks_meters_invent.drop(columns=['level_0'])
    return peaks_meters_invent

### Gaussian-only Peaks

We set a capture zone and spatially join the data for FC's peaks:

In [126]:
# Remove far east and west to avoid side effects on captures zones 
peaks_fc = peak_fc.loc[(peak_fc["longitude"] < 170) & (peak_fc["longitude"] > -170), :]
peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)

for cl in invent_types:
    invent_pt = invent[invent['CO2/CO2e emissions source'] == cl]
    peaks_fc = join_and_count_one(peaks_fc, invent_pt, cl)
    
peaks_fc.head(50)

<ipython-input-125-1c03d712b0aa>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-126-a6aa5c53ae3e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)

,sounding_id,latitude,longitude,orbit,slope,intercept,amplitude,sigma,delta,R,...,index_Iron and steel,number_Iron and steel,index_Combustion,number_Combustion,index_Non ferrous metals,number_Non ferrous metals,index_Mineral oil,number_Mineral oil,index_Coke ovens,number_Coke ovens
0,2018080102530302,58.858116,143.781662,21710,0.003719,399.445056,0.018193,5.552475,0.001307,0.730703,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
1,2018080104244674,35.680077,130.219467,21711,-0.004196,405.367275,9.859749,24.716153,0.159146,0.577045,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
2,2018080104244836,35.752354,130.197632,21711,-0.004529,405.341883,7.635088,6.525770,0.466759,0.511861,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
3,2018080104244906,35.789249,130.185776,21711,-0.004221,405.311837,7.751707,9.587837,0.322542,0.533806,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
4,2018080104244976,35.826172,130.173950,21711,-0.003825,405.271937,9.293184,16.454924,0.225309,0.514400,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
5,2018080104245173,35.966625,130.125778,21711,-0.004961,405.187786,8.763453,17.915269,0.195147,0.616669,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
6,2018080104245475,36.112236,130.080261,21711,-0.005632,405.134489,5.867463,20.226835,0.115726,0.714837,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
7,2018080104245535,36.149014,130.068329,21711,-0.006073,405.120973,5.166552,11.382239,0.181085,0.597837,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
8,2018080104245738,36.229542,130.045258,21711,-0.006534,405.086223,3.223339,12.760039,0.100778,0.614451,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
9,2018080104245808,36.266342,130.033279,21711,-0.006272,405.075965,1.815272,10.704547,0.067652,0.518306,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
10,2018080104245938,36.339977,130.009537,21711,-0.006359,405.045625,0.299730,10.148986,0.011782,0.527084,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
11,2018080109202172,33.181385,58.603271,21714,-0.005215,405.638797,13.268596,23.580344,0.224484,0.591171,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
12,2018080109202377,33.253674,58.580158,21714,-0.004769,405.598421,15.647425,15.628829,0.399417,0.544832,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
13,2018080109202436,33.303322,58.567360,21714,-0.004641,405.599020,11.906955,15.449735,0.307461,0.651068,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
14,2018080109202576,33.383263,58.545204,21714,-0.005041,405.582246,8.414185,16.202769,0.207173,0.693020,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
15,2018080109202676,33.443363,58.528530,21714,-0.005000,405.564920,3.988669,6.923581,0.229830,0.547338,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
16,2018080109202735,33.493034,58.515560,21714,-0.004910,405.558183,1.214380,5.481726,0.088379,0.594284,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
17,2018080109240836,46.694210,54.299095,21714,-0.001872,401.062667,5.888124,6.183244,0.379901,0.544621,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
18,2018080109241277,46.943550,54.209602,21714,-0.003845,400.889295,10.777383,26.552213,0.161928,0.524760,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
19,2018080109241337,46.983147,54.194393,21714,-0.003678,400.879829,9.656617,32.102927,0.120003,0.507149,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
20,2018080109241406,47.030689,54.170788,21714,-0.003676,400.854156,9.305005,32.148704,0.115468,0.511397,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
21,2018080109241476,47.070339,54.155735,21714,-0.003702,400.831028,9.845353,29.944415,0.131167,0.522745,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
22,2018080109241705,47.217075,54.094276,21714,-0.004148,400.779737,12.002087,16.037899,0.298552,0.630770,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
23,2018080109241733,47.252491,54.068909,21714,-0.004289,400.779747,10.900345,21.783802,0.199626,0.612374,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
24,2018080109241771,47.287704,54.043007,21714,-0.004397,400.782190,9.721968,10.884582,0.356330,0.527228,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
25,2018080109241938,47.332012,54.066578,21714,-0.004647,400.768833,9.354878,11.473749,0.325269,0.616235,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
26,2018080109242004,47.403030,54.016533,21714,-0.005040,400.779995,4.666902,10.796740,0.172443,0.672546,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
27,2018080109244977,49.139874,53.342686,21714,-0.002028,400.334125,22.402184,26.634684,0.335547,0.576216,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
28,2018080109245005,49.174843,53.315453,21714,-0.002060,400.323352,23.423484,21.099889,0.442875,0.574763,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
29,2018080109245273,49.347904,53.231342,21714,-0.002873,400.305613,18.807496,25.211900,0.297602,0.606459,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
30,2018080109245407,49.397030,53.238300,21714,-0.003288,400.307345,17.823847,20.945664,0.339482,0.614914,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
31,2018080109245505,49.471615,53.194626,21714,-0.003483,400.307405,11.383274,13.964554,0.325200,0.591521,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
32,2018080109245575,49.511097,53.178291,21714,-0.003588,400.330775,6.178916,10.484615,0.235109,0.599156,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
33,2018080110462202,-11.035990,42.528137,21715,0.003056,406.223300,5.668046,18.151260,0.124577,0.512644,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
34,2018080110462505,-10.868708,42.452213,21715,0.002739,406.195783,11.187031,20.662483,0.215994,0.501021,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
35,2018080110591476,32.088493,32.444080,21715,-0.005663,403.424065,20.017000,32.076305,0.248957,0.592317,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
36,2018080110591806,32.273357,32.388706,21715,-0.007143,403.338130,15.349628,17.003931,0.360129,0.591194,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
37,2018080110592201,32.546013,32.310936,21715,-0.010517,403.079688,6.337626,9.945530,0.254219,0.544037,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
38,2018080111004838,37.250511,30.821409,21715,0.010137,404.559216,2.947825,7.959163,0.147756,0.582825,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
39,2018080111005177,37.444622,30.755703,21715,0.006885,404.427158,64.732216,11.112728,2.323860,0.654418,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
40,2018080111073373,59.115520,19.984953,21715,0.003726,401.221781,4.629561,12.152891,0.151974,0.564868,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
41,2018080111073538,59.161064,20.012054,21715,0.003722,401.232168,5.352504,10.256835,0.208187,0.524103,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
42,2018080111073876,59.349541,19.838299,21715,0.004398,401.340128,2.137905,17.344226,0.049175,0.535967,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
43,2018080111075377,60.116722,19.230543,21715,0.010672,402.154664,15.441205,12.749002,0.483187,0.576385,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
44,2018080111075431,60.198475,19.081053,21715,0.011276,402.233858,9.745444,8.569233,0.453701,0.590431,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
45,2018080111075637,60.254314,19.116638,21715,0.011351,402.267089,6.446994,9.860171,0.260845,0.725345,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
46,2018080111075774,60.346924,18.999052,21715,0.011465,402.363164,1.022085,23.059701,0.017682,0.879619,...,[nan],0,[7106.0],1,[nan],0,[nan],0,[nan],0
47,2018080111075902,60.431065,18.900501,21715,0.011570,402.433531,9.353678,22.162733,0.168372,0.885936,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
48,2018080111080035,60.476109,18.904684,21715,0.011668,402.470516,10.890121,11.150083,0.389641,0.738036,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
49,2018080111080105,60.510288,18.875591,21715,0.011741,402.505817,11.504132,10.340243,0.443847,0.722816,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0

In [134]:
peaks_fc.describe()

,sounding_id,latitude,longitude,orbit,slope,intercept,amplitude,sigma,delta,R,...,number_Glass,number_Power and heat,number_Ceramics,number_Pulp and paper,number_Chemicals,number_Iron and steel,number_Combustion,number_Non ferrous metals,number_Mineral oil,number_Coke ovens
count,2.492000e+03,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,...,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,2492.000000,2492.0,2492.000000,2492.0
mean,2.018082e+15,20.842071,0.092224,21940.067416,-0.001568,404.168031,15.990081,16.838018,0.397463,0.601680,...,0.004815,0.022472,0.007223,0.008828,0.006822,0.000401,0.038122,0.0,0.000803,0.0
std,9.314052e+08,26.653732,98.411842,135.592390,0.006666,2.021748,16.216757,6.740656,0.426329,0.083893,...,0.074813,0.236002,0.135699,0.112997,0.128112,0.020032,0.428500,0.0,0.028324,0.0
min,2.018080e+15,-40.021149,-167.962051,21710.000000,-0.031395,399.106487,0.003036,2.027053,0.000341,0.500107,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
25%,2.018081e+15,-3.690342,-91.384123,21809.000000,-0.006118,402.655696,5.555167,11.603454,0.149700,0.534788,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
50%,2.018082e+15,30.759050,18.615467,21957.000000,-0.002877,404.493086,11.937472,16.121828,0.289604,0.578015,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
75%,2.018082e+15,41.005142,66.940214,22057.000000,0.003890,405.954873,21.111619,21.397333,0.496026,0.649437,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
max,2.018083e+15,72.424393,169.941254,22159.000000,0.025194,408.913894,162.436539,33.197182,5.603435,0.899008,...,2.000000,7.000000,4.000000,2.000000,5.000000,1.000000,9.000000,0.0,1.000000,0.0

## CSV save

In [114]:
for i in range (1801, 1813):
    csv = conn.get_object("oco2", "/datasets/oco-2/peaks-detected/result_for_oco2_"+str(i)+".csv")[1]
    peak_fc = pd.read_csv(StringIO(str(csv, 'utf-8')), sep=";")
    peak_fc['date'] = peak_fc['sounding_id'].apply(to_date)
    peak_fc['sigma'] = peak_fc['sigma'].apply(abs)
    peak_fc['amplitude'] = peak_fc['amplitude'].apply(abs)
    peak_fc = gpd.GeoDataFrame(peak_fc, geometry=gpd.points_from_xy(peak_fc.longitude, peak_fc.latitude)).copy()
    peak_fc.crs = {'init': 'epsg:4326'}
    
    peaks_fc = peak_fc.loc[(peak_fc["longitude"] < 170) & (peak_fc["longitude"] > -170), :]
    peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)

    for cl in invent_types:
        invent_pt = invent[invent['CO2/CO2e emissions source'] == cl]
        peaks_fc = join_and_count_one(peaks_fc, invent_pt, cl)
        
    peaks_fc.to_csv(r'../dataset/peaks_and_invent/peaks_and_invent_'+str(i)+'.csv', index = False)

<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)
<ipython-input-95-a05eee37905b>:13: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  point = VincentyDistance(kilometers=d).destination(origin, b)
<ipython-input-114-f8a3c63953da>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peaks_fc['geometry'] = peaks_fc.apply(capture_df, axis=1)

In [115]:
path_test = "../dataset/peaks_and_invent/peaks_and_invent_1808.csv"
test = pd.read_csv(path_test, sep=",", index_col=0)
test.head()

,latitude,longitude,orbit,slope,intercept,amplitude,sigma,delta,R,windspeed_u,...,index_Iron and steel,number_Iron and steel,index_Combustion,number_Combustion,index_Non ferrous metals,number_Non ferrous metals,index_Mineral oil,number_Mineral oil,index_Coke ovens,number_Coke ovens
sounding_id,,,,,,,,,,,,,,,,,,,,,
2018080102530302,58.858116,143.781662,21710,0.003719,399.445056,0.018193,5.552475,0.001307,0.730703,-3.837832,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
2018080104244674,35.680077,130.219467,21711,-0.004196,405.367275,9.859749,24.716153,0.159146,0.577045,-2.515345,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
2018080104244836,35.752354,130.197632,21711,-0.004529,405.341883,7.635088,6.525770,0.466759,0.511861,-2.536525,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
2018080104244906,35.789249,130.185776,21711,-0.004221,405.311837,7.751707,9.587837,0.322542,0.533806,-2.545387,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0
2018080104244976,35.826172,130.173950,21711,-0.003825,405.271937,9.293184,16.454924,0.225309,0.514400,-2.552335,...,[nan],0,[nan],0,[nan],0,[nan],0,[nan],0